/* code written by Le Duong, unless stated otherwise */

.container {
    text-align: center;
    align-items: center;
    max-width: 300%;
    width: 100%;
    /* Le Duong */
    /* highlights login form area on webpage ,will be removed later */
    background-color: #808080;
}


.input-group {
    margin-bottom: 20px;
    text-align: center;
}

/* Le Duong */
/* formats all input fields on login form */
.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Le Duong */
/* formats all buttons on login form */
.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
